{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebQuestoesConcursos</title>
  <!-- link css Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/javascript.js' %}"></script>
</head>
<body class="vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mx-5">
    <div class="container-fluid mx-5">
      <!--<a class="navbar-brand " href="https://webquestoesconcursos.herokuapp.com/">
      --><a class="navbar-brand " href="http://127.0.0.1:8000/">
      <img src="{% static 'img/logoInicial.png' %}" class="tamanho_logo" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown mt-1 mt-md-auto mt-lg-auto mt-xl-auto mx-0 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link dropdown-toggle btn bntnotokColor" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Bancas Organizadoras
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/fgv/">FGV</a></li>
              <li><a class="dropdown-item" href="/ciee/">CIEE</a></li>
              <li><a class="dropdown-item" href="/cebraspe/">CEBRASPE</a></li>
              <li><a class="dropdown-item" href="/fuvest/">FUVEST</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown mt-1 mt-md-auto mt-lg-auto mt-xl-auto mx-0 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link dropdown-toggle btn bntnotokColor" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              informações
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/contato/">Contato</a></li>
              <li><a class="dropdown-item" href="/sobre/">Sobre</a></li>
            </ul>
          </li>
          
        </ul>
        
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown mt-1 mt-md-auto mt-lg-auto mt-xl-auto mx-0 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link dropdown-toggle btn bntnotokColor" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Configurações</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">.</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">.</a></li>
            </ul>
          </li>
          <li class="nav-item mt-1 mt-md-auto mt-lg-auto mt-xl-auto mx-0 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link btn bntnotokColor px-3" href="/logouts/">Sair</button></a>
          </li>
          {% else %}
          <li class="nav-item mt-1 mt-md-auto mt-lg-auto mt-xl-auto mx-0 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link btn bntnotokColor" href="/cad/">Cadastro</a>
          </li>
          <li class="nav-item mt-1 mt-md-auto mt-lg-auto mt-xl-auto mx-0 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link btn bntnotokColor" href="/telaLogin/">login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock%}
    
  </div>
  
</body>
<footer>
  <!-- scripts bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</footer>

</html>