/*--------------- HTML ----------------*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background-color: #ffffff;
    transition: background 0.3s linear;
    display:flex;
    flex-direction: column;
}

body.dark {
    background-color: #797979;
    color: rgb(0, 0, 0);
}
/*--------------- FIM HTML --------------*/
/*|||||||||||||||||||||||||||||||||||||||*/
/*--------------- NAVBAR ----------------*/
.tamanho_logo {
    height: 55px;
}

/*Botões navbar*/
.bntnotokColor {
    background-color: #408dc4;
    color: whitesmoke;
}

/*------------- FIM NAVBAR ---------------*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*------------- TELA LOGIN & CADASTRO ---------------*/


.bntokColor {
    background-color: #36be46;
    color: whitesmoke;
}
.formloginecad {
    background-color: #27343d;
    color: whitesmoke;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);

}


/*----------- FIM TELA LOGIN -------------*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*----------- MAIN CONTENT ---------------*/

.folderPrincipal {
    height: 100%;
}

.divirframe {
    height: 100%;
    width: 100%;
}

/*--------- FIM MAIN CONTENT -------------*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*---------- TELAS DAS BANCAS ------------*/

.borderbntpg {
    background-color: #8cbaf5;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}

/*--------- FIM TELAS DAS BANCAS ---------*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*--------- LINKS ESTYLING ---------*/

a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: underline;
	color: #f00
	}
a:active {
	text-decoration: none
	}

/*--------- FIM  ---------*/
/*||||||||||||||||||||||||||||||||||||||||*/

.vhtamanho{
    height: 90vh;
}

.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.pgs-bnts{
    padding: 2px;
}