*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-size: 18px;
}
body{
    background-color: #fffdf4;
    transition: background 0.3s linear;
}
body.dark{
    background-color: #232c35;
    color: rgb(0, 0, 0);
}
.navbar{
    margin: 0px;
}
.margincenter{
    margin-top: 15%;
}
.formloginecad{
    background-color: #27343d;
    color: whitesmoke;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3) ;

}
.bntnotokColor{
    background-color: #27343d;
    color: whitesmoke;
}
.bntokColor{
    background-color: #2c5e32;
    color: whitesmoke;
}
.tamanho_logo{
    width: 100px;
    height: 80px;
}

/* style getulio */
.dp-menu ul li {
    float: left;
    width: 135px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: block;
    text-transform: uppercase;
}

.dp-menu ul li:hover {
    border-top: 3px solid #00fb64;
}

.dp-menu ul li a:hover {
    color: #00c8ff;
}

.dp-menu ul {
    padding: 0;
}

.dp-menu ul ul {
    display: none;
}

.dp-menu ul li:hover>ul {
    display: block;
}

.dp-menu ul li a {
    text-decoration: none;
}

.col_100 {
    width: 97%;
    float: left;
    position: relative;
    top: -40px;
    right: 40px;
}

/*logo das bancas*/

.col-1 {
    width: 22%;
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    top: 250px;
    left: 50px;
    margin: 15px;
}

.col-2 {
    width: 20%;
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 255px;
    display: inline-block;
    left: 15%;
    margin: 0px;
}

.col-3 {
    width: 20%;
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 250px;
    display: inline-block;
    left: 29%;
    margin: 9px;
}

.col-4 {
    width: 25%;
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 295px;
    display: block;
    left: 37%;
    margin: 30px;
}

#tela {
    width: 95vw;
    height: 400px;
    position: relative;
    display: block;
    top: 30px;
    left: 10px;
}