{% extends 'base.html' %}

{% load static %}

<!-- Inicia um bloco para a incerção de conteudos. -->
{% block content %}
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="col-12 align-items-center">
      <ul class="col-12 navbar-nav me-auto align-self-center">
        <li class="col-xl-6 col-md-6 col-sm-2 nav-item ">
          <a class="nav-link text-center" href="https://www.pciconcursos.com.br/provas/fgv-2019/"
            target="fgvpci"><button type="button" class="btn btn-secondary p-3">fgv 2019 </button></a>
        </li>
        <li class="col-xl-6 col-md-6 col-sm-2 nav-item">
          <a class="nav-link text-center" href="https://www.pciconcursos.com.br/provas/fgv-2020/"
            target="fgvpci"><button type="button" class="btn btn-secondary p-3">fgv 2020</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<iframe width="100%" height="100%" name="fgvpci" src="">
</iframe>
{% endblock%}